body {
  background-color: #F2F3F8 !important;
}
.header {
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #F00A6B 0%, #A51854 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #F00A6B 0%, #A51854 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #F00A6B 0%, #A51854 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F00A6B), color-stop(100, #A51854));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #F00A6B 0%, #A51854 100%);
}
.header .brand {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
.header .brand .first {
  padding-top: 15px;
  text-align: center;
  margin: -8px;
  font-size: 20px;
  font-weight: 400;
}
.header .brand .second {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}
.side-menu {
  height: 100vh;
  background-color: #2C2E3F;
}
.side-menu .add-btn {
  text-align: right;
  padding-top: 18px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.side-menu .add-btn .add-icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  background-color: #FFCD00;
  color: #FFFFFF;
  font-size: 20px;
}
.side-menu .add-btn .add-icon:hover {
  background-color: #ffd733;
}
.side-menu .tdy-btn {
  cursor: pointer;
  padding: 10px;
  margin: 15px;
  background-color: #333B4B;
}
.side-menu .tdy-btn p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}
.side-menu .date-text {
  padding-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
.side-menu .date-text .small {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
.side-menu .date-text .big {
  margin: 0;
}
.side-menu .date-text .big .first {
  font-size: 27px;
  font-weight: 700;
}
.side-menu .date-text .big .second {
  font-size: 20px;
  font-weight: 300;
}
.side-menu .date-text .big i {
  cursor: pointer;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 0.56);
  font-size: 40px;
}
.side-menu .date-text .big i:hover {
  color: rgba(255, 255, 255, 0.76);
}
.side-menu .date-box {
  margin: 10px;
  padding: 5px;
  padding-bottom: 15px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.side-menu .date-box p {
  font-family: 'Roboto', sans-serif;
  color: #7B7B7B;
  font-size: 17px;
  margin: 0;
}
.side-menu .date-box table {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.side-menu .date-box table tr td {
  padding-top: 10px;
  text-align: center;
  font-size: 11px;
  color: #3E3E3E;
  font-weight: 400;
}
.side-menu .date-box table tr td:hover {
  color: #F00A6B;
}
.side-menu .date-box table tr .h {
  padding-top: 10px;
  text-align: center;
  font-size: 9px;
  color: #B9B9B9;
  font-weight: 400;
}
.side-menu .date-box table tr .h:hover {
  color: #B9B9B9;
}
.side-menu .date-box table tr .selected {
  padding: 2px;
  padding-bottom: 0px;
  border-radius: 50%;
  background-color: #F00A6B;
  color: #FFFFFF;
}
.side-menu .date-box table tr .selected:hover {
  color: #FFFFFF;
}
.side-menu .date-box table tr:last-child {
  padding-bottom: 10px;
}
.side-menu .date-wrapper {
  height: 500px;
  overflow-y: scroll;
}
.side-menu .date-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 100px;
  border-radius: 10px;
}
.side-menu .date-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.side-menu .date-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  outline: 1px solid #B9B9B9;
  border-radius: 10px;
}
.side-menu .scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 100px;
  border-radius: 10px;
}
.side-menu .scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.side-menu .scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  outline: 1px solid #B9B9B9;
  border-radius: 10px;
}
ul.blocks li {
  display: inline-block;
  width: 30%;
}
